<div class="header-message">
  <h2>Do you like FootBall ?</h2>
  <%= image_tag 'adidas.jpg', class: 'header-picture' %>
</div>

<div class="header-message">
  <h2>Who is your favorite player ?</h2>
  <%= image_tag 'messi.jpg', class: 'player-picture' %>
  <%= image_tag 'ronaudo.jpg', class: 'player-picture' %>
  <%= image_tag 'neymar.jpg', class: 'player-picture' %>
</div>

<div class="header-message">
  <h2>Which team do you support ?</h2>
   <%= image_tag 'list.jpg', class: 'team-picture' %>
</div>

<div class="header-message">
  <h2>When is the moset memorable moment ?</h2>
  <%= image_tag 'stars.jpg', class: 'memory-picture' %>
</div>

<div class="header-message">
<h1>Let's share your memory with us !!</h1>
</div>

