<h1>We Love FootBall</h1>
<table class="table table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th>picture</th>
      <th>Title</th>
      <th>Caption</th>
    </tr>
  </thead>
  <tbody>
<% @post_images.each do |post_image| %>
  <tr>
  <td>
  <%= post_image.user.name %>
  </td>

  <td>
    <%= attachment_image_tag post_image, :image, :fill, 100, 100, format: 'jpeg' %>
  </td>

  <td>
    <%= post_image.picture_name %>
  </td>

  <td>
    <%= post_image.caption %>
  </td>

  <td>
    <%= link_to "#{post_image.post_comments.count} Comments", post_image_path(post_image.id) %>
  </td>

  <td>
    <%= link_to "Show", post_image_path(post_image) %>
  </td>
  </tr>
<% end %>
<%= paginate @post_images %>
</tbody>
</table>