<h1>New Post</h1>
<%= form_with model:@post_image, local:true do |f| %>
 <div>
 <%= f.attachment_field :image %>
 </div>

 <div>
 <%= f.text_field :picture_name, placeholder:"Title" %>
 </div>

 <div>
 <%= f.text_area :caption, placeholder:"Comment" %>
 </div>

<div>
<%= f.submit "Post"%>
</div>

<% end %>