<!DOCTYPE html>
<html>
  <head>
    <title>WLF</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

  <div class="header-container">
  <p class="header-title">
    <strong>WLF</strong>
  </p>

    <ul>
    <% if user_signed_in? %>
    <li class="header-logo">
      <%= link_to "Log Out", destroy_user_session_path, method: :delete %>
    </li>

    <li class="header-logo">
      <%= link_to "Post", new_post_image_path %>
    </li>

     <li class="header-logo">
      <%= link_to "Usrs", users_path %>
    </li>

    <li class="header-logo">
      <%= link_to "Home", post_images_path %>
    </li>

    <% else %>

    <li class="header-logo">
      <%= link_to "Sign Up", new_user_registration_path %>
    </li>

    <li class="header-logo">
      <%= link_to "Log In", new_user_session_path %>
    </li>

    <li class="header-logo">
      <%= link_to "Top", root_path %>
    <% end %>
    </li>
    </ul>
</div>

<div class="cover-all">
  <div class="cover-middle">

    <%= yield %>

  </div>
</div>
  </body>
</html>
